.other-components{ 
    position: relative;
    top: 73px;


    // height: 3000px;
    // background-color: greenyellow;
    
}

.secondary-color{
    color: var(--secondary-color);
}

.pointer{
    cursor: pointer;
}

.green{
    color: var(--success);
}

 