@import "_variables";
@import "_mixins";

.achieve-goal-container {
  padding: 20px 0px;
  background-color: var(--bg-light);
  .content-width {
    width: 90%;
    margin: auto;
  }
  .header-section {
    text-align: center;
    width: 70%;
    margin: auto;
    h2 {
      color: black;
      font-size: 25px;
    }

    font-style: normal;
    font-weight: 400;
  }

  .section-row {
    margin: 40px auto;
    padding: 20px;
    @include flex-none-start;
    gap: 20px;

    .text-section {
      width: 60%;
    }

    .image-section {
      width: 40%;
      border-radius: 24px;
      img {
        border-radius: 24px;
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
        object-position: top center;
      }
    }

    .text-section {
      h5 {
        color: black;
        font-size: 20px;
      }

      padding: 20px;
      // display: flex;
      // flex-direction: column;
      // justify-content: space-evenly;
      .item {
        @include flex-none-start;
        gap: 10px;
        margin: 35px 0px;

        p {
          margin: 0;
        }
      }
    }
  }

  .star {
    color: var(--primary-color);
  }
}

.unlock-potential-container {
  padding: 40px 0px;
  background-color: #fafcff;
  .content-width {
    width: 95%;
    margin: auto;
    .heading-section {
      width: 70%;
      margin: auto;
      text-align: center;
    }

    .section-row {
      @include flex-between-center;
      // gap: 20px;
      height: 550px;
      margin: 30px 0px;
      padding: 20px 0px;
      .text-section {
        width: 55%;
      }

      .image-section {
        width: 45%;
        height: 100%;
      }

      .grid-area {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .item {
          width: 45%;
          margin: 10px 0px;
          padding: 15px;
          border-radius: 5px;
          box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
          font-size: 14px;
          background-color: white;
          line-height: 28px;

          .icon {
            width: 40px;
            height: 40px;
            border-radius: 4px;
            margin: 10px 0px;
            img {
              border-radius: 4px;
              width: 100%;
            }
          }
        }
      }

      .image-section {
        // height: 600px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  .rewards-section {
    height: 500px;
    margin: 35px 0px;
    background-image: url(../assets/images/banner_bg_woman.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    .text-section {
      width: 80%;
      margin: auto;
      header,
      p {
        width: 50%;
        h1 {
          font-weight: 900;
          color: white;
        }
      }

      p {
        color: #f8fafc;
      }
    }

    .button-section {
      @include flex-none-center;
      gap: 20px;

      .button {
        width: 100px;
        img {
          width: 100%;
        }
      }
    }
  }
}

.get-app-container {
  width: 90%;
  margin: auto;
  padding: 20px;

  .rewards-section {
    border-radius: 50px;
    background-image: url(../assets/images/get_app_bg.svg);
    background-position: center;
  }
}

.testimonials-container {
  width: 90%;
  margin: auto;

  
  header {
    @include flex-between-center;
    margin: 20px 0px; 
    .controls {
      display: flex;
      gap: 10px;
      span {
        width: 25px;
        height: 25px;
        @include flex-center-center;
        color: var(--primary-color);
        border-radius: 4px;
        font-weight: 800;
        cursor: pointer;
        transition: all 0.3s linear;
      }
      .active-control {
        background-color: var(--primary-color);
        color: white;
      }
    }
    .love-text {
      color: #ed4546;
    }
  }
.slider-area{ 
  height: 400px;
  // padding: 20px;
  // display: flex;
  

}
.testimony-container{
  padding: 0px 10px;
  position: relative; 
  // width: 350px;
  height: 350px;
  vertical-align: center;
  display: flex !important;
  align-items: center; 
}
  .testimony{
    box-sizing: border-box;
    border-right: 7px solid transparent;
    background-color: #F8FAFC; 
    width: 400px;
   
    height: 250px;
    padding: 40px;
    border-radius: 20px;
       

    .avatar{
      width: 60px;
      height: 60px;
      border-radius: 100%; 
      position: absolute;
      top: 30px; 
      left: 40px; 
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 100%
      }
    }

    .text{
      margin: 20px 0px;
      height: 70%;
      // overflow-y: scroll;
    }

    .bottom{
      height: 20%;
      @include flex-between-center;
      .name{
        font-weight: 700;
      }

      .rating{
        font-size: 12px
      }
    }


  }


}

.footer-container {
  width: 95%;
  margin: auto;

  // background-color: white;
  * {
    margin: 0;
  }
  // height: 70px;
  nav {
    padding: 15px 0px;
    @include flex-between-center;

    .logo-section {
      width: 15%;
      img {
        width: 100%;
        object-fit: cover;
      }
    }

    .links-section {
      @include flex-evenly-center;
      width: 40%;
      list-style-type: none;
      user-select: none;
      cursor: pointer;
      transition: all 0.3s linear;
      li {
        font-size: 14px;

        &:hover {
          color: lighten(#000000, 40%);
        }
      }
    }

    .button-section {
      button {
        background: transparent;
        border: none;
        font-weight: 600;
      }
    }
  }
  hr {
    margin: auto;
  }

  .socials-section {
    @include flex-between-center;

    margin: auto;
    padding: 15px 0px;
    .socials {
      @include flex-none-center;
      gap: 10px;
      font-size: 12px;

      .icon {
        width: 25px;
        height: 25px;
        cursor: pointer;
        border-radius: 100%;
        @include flex-center-center;
        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
      }
    }
    .copyright {
      font-size: 12px;
    }
  }
}

@media (max-width: "450px") {
  .hide-on-mobile{
    display: none;
  }
  .achieve-goal-container {
    .content-width {
      width: 90%;

      .header-section {
        width: 100%;
        text-align: left;
        header {
          h2 {
            width: 100%;
          }
        }
      }
    }

    .section-row {
      flex-direction: column;
      padding: 0px;

      .text-section,
      .image-section {
        width: 100%;
        padding: 0px;
      }

      .text-section {
        width: 100%;
      }

      .grid-area {
        flex-direction: column;
      }
    }
  }

  .unlock-potential-container {
    .content-width {
      width: 90%;

      .heading-section {
        width: 100%;
        text-align: left;
      }

      .section-row {
        flex-direction: column-reverse;
        height: auto;
        .text-section,
        .image-section {
          width: 100%;

          header {
            margin: 20px 0px;
          }
        }

        .image-section {
          margin-bottom: 30px;
        }

        .grid-area {
          flex-direction: column;
          .item {
            width: 100%;
          }
        }
      }
    }

    .rewards-section {
      background-position: top left;
      height: 200px;
      background-size: 200%;
      .text-section {
        width: 90%;
        margin: auto;
        header,
        p {
          width: 100%;
        }
        h1 {
          font-size: 20px;
        }
        p {
          font-size: 12px;
          margin: 20px 0px;
        }
      }
    }
  }
  .get-app-container {
    width: 100%;
    padding: 0px 0px;
    height: auto;
    border-radius: 0;
    .rewards-section {
      border-radius: 0;
      background-position: center left;
      width: 100%;
      background-size: 200%;
      padding: 0px 0px;
      height: 230px;
    }
  }
.testimonials-container{
 
  .testimony-container{
    height: 400px; 
  }
  .testimony{
    width: 100%;
    height: 300px; 
    padding: 40px 20px;


    .name{
      width: 70%;
    }
    
  }

  header{
    display: block;
    width: 100%;
    text-align: center;
    h2{
      font-size: 18px;
      width: 100%;
    }
    .controls{
      justify-content: flex-end;
      z-index: 20;
    }
  }

}
  .footer-container {
    width: 90%;
    nav {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;

      .links-section {
        width: 100%;
        padding: 0;
        justify-content: space-between;
      }
      .logo-section {
        width: 50%;
      }
    }

    .socials-section {
      flex-direction: column;
      align-items: flex-start;
      gap: 20px;
      margin: 10px 0px;
    }
  }
}
